.categories{
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 2rem;
    margin-top: 2rem;
    .card{
        background: white;
        padding: 2rem ;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        img{
            width: 200px;
        }
    }
}