.categories{
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    place-items: center;
    margin-top: 2rem;
    gap: 1rem;
    position: relative;
    
    .card{
        background: whitesmoke;
        padding:0 1.5rem;
        border-radius: 10px;
        border: 2px rgba(68, 68, 68, 0.336) solid;
        .img{
            display: flex;
            justify-content: end;
            img{
                width: 60px;
            }
        }
        font-size: small;
    }

}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border-radius: 20px;
    transform: translateX(-800px);
    transition: .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    input{
        padding: 1rem 3rem;
        border: none;
        font-size: 20px;
    }:focus{
        outline: none;
    }
    label{
        font-size: 1.1rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    button{
        width: 20%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    @media (max-width: 900px) {
        width: 50%;
        border-radius: 0px;
        margin: 1rem;
        input{
            padding: .5rem 1rem;
        }
        button{
            width: 50%;
            margin: 1rem auto;
        }
    }
    @media (max-width: 400px) {
        width: 100%;
    }
}
.visible{
    transform: translateX(0%);
}