*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body{
    background:#d3d3d3 ;
    width: 95%;
    margin: 0 auto;
}
button{
    padding: 12px 20px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: 500;
    margin-top: .5rem;
    border-radius: 10px;
}

