@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body {
  background: #d3d3d3;
  width: 95%;
  margin: 0 auto;
}

button {
  padding: 12px 20px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: 500;
  margin-top: 0.5rem;
  border-radius: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #214C4F;
  padding: 0.5rem;
  color: white;
  border-radius: 20px;
  margin-top: 10px;
}
nav .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .left a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
nav .left i {
  background: transparent;
}
nav .center {
  background-color: whitesmoke;
  padding: 0 1rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
}
nav .center input {
  padding: 0.3rem;
  width: 350px;
  background-color: transparent;
  border: none;
}
nav .center :focus {
  outline: none;
}
nav .center i {
  color: black;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav span i {
  background: transparent;
  color: orange;
}
nav i {
  background: white;
  color: black;
  padding: 16px;
  border-radius: 50%;
}
@media (min-width: 600px) and (max-width: 768px), (min-width: 769px) and (max-width: 900px), (min-width: 901px) and (max-width: 1024px) {
  nav .left {
    display: none;
  }
  nav .center {
    width: 80%;
    display: flex;
  }
  nav .right #user {
    display: none;
  }
  nav .right p {
    display: none;
  }
}
@media (max-width: 480px), (min-width: 360px) and (max-width: 800px), (min-width: 481px) and (max-width: 599px), (min-width: 600px) and (max-width: 767px) {
  nav {
    /* Styles for phones */
  }
  nav .left {
    display: none;
  }
  nav .center {
    width: 80%;
    display: flex;
  }
  nav .right #user {
    display: none;
  }
  nav .right p {
    display: none;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
  background: #214C4F;
  margin-top: 0.5rem;
  color: white;
  border-bottom-left-radius: 50% 50px;
  border-bottom-right-radius: 50% 50px;
  padding: 0 5rem;
}
.hero .sideOne {
  padding: 0 2rem;
}
.hero .sideOne h1 {
  font-size: 40px;
}
.hero .sideOne .heroBtn {
  display: flex;
  justify-content: start;
}
.hero .sideOne .heroBtn .btn {
  padding: 12px 20px;
  border: none;
  background-color: orange;
  color: white;
  font-weight: 500;
  margin-top: 0.5rem;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .hero {
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    padding: 0;
  }
  .hero .sideTwo {
    padding: 0 1rem;
  }
  .hero .sideTwo img {
    width: 300px;
  }
}
@media (max-width: 650px) {
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero .sideOne {
    margin-top: 3rem;
    padding: 0 1rem;
  }
  .hero .sideOne h1 {
    font-size: 30px;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
  }
  .hero .sideOne .heroBtn {
    justify-content: center;
  }
  .hero .sideTwo img {
    width: 200px;
  }
}
.categories {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  place-items: center;
  margin-top: 2rem;
  gap: 1rem;
  position: relative;
}
.categories .card {
  background: whitesmoke;
  padding: 0 1.5rem;
  border-radius: 10px;
  border: 2px rgba(68, 68, 68, 0.336) solid;
  font-size: small;
}
.categories .card .img {
  display: flex;
  justify-content: end;
}
.categories .card .img img {
  width: 60px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.575);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 20px;
  transform: translateX(-800px);
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
}
form input {
  padding: 1rem 3rem;
  border: none;
  font-size: 20px;
}
form :focus {
  outline: none;
}
form label {
  font-size: 1.1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
form button {
  width: 20%;
  margin: 0 auto;
  margin-top: 1rem;
}
@media (max-width: 900px) {
  form {
    width: 50%;
    border-radius: 0px;
    margin: 1rem;
  }
  form input {
    padding: 0.5rem 1rem;
  }
  form button {
    width: 50%;
    margin: 1rem auto;
  }
}

.visible {
  transform: translateX(0%);
}

.products {
  margin: 0 auto;
}
.products .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.products .head h1 {
  font-size: 2rem;
}
.products .head p {
  font-weight: 400;
}
.products .productSection {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0;
}
.products .productSection .cardp {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.products .productSection .cardp .img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.products .productSection .cardp .img :hover {
  scale: 1.09;
}
.products .productSection .cardp .content {
  padding: 1rem;
}
@media (max-width: 600px) {
  .products .head h1 {
    font-size: 1.5rem;
  }
  .products .head p {
    font-weight: 400;
  }
  .products .productSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  .products .productSection .content {
    font-size: 16px;
  }
}

h2 {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.featuredStore {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}
.featuredStore .cardp {
  background-color: whitesmoke;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.featuredStore .cardp img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
}
.featuredStore .cardp img:hover {
  scale: 1.09;
}
.featuredStore .cardp .content {
  padding: 1rem;
  margin-top: 2rem;
}
.featuredStore .cardp .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 2.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 2%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.featuredStore .cardp #tag2 {
  background-color: orange;
}
.featuredStore .cardp #tag3 {
  background-color: blue;
}
@media (max-width: 600px) {
  .featuredStore {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .featuredStore .cardp img {
    height: 100px;
  }
  .featuredStore .cardp .tag {
    padding: 1.8rem;
    font-size: 0.8rem;
    top: 38%;
    left: 2%;
  }
}

.productItem {
  margin: auto;
  display: flex;
  background-color: whitesmoke;
  border-radius: 30px;
}
.productItem .productView {
  padding: 2rem;
  width: 50%;
  overflow: hidden;
}
.productItem .productView .imgOne {
  margin-bottom: 1rem;
  background-color: rgb(204, 203, 203);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.productItem .productView img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
  margin: auto;
  display: block;
}
.productItem .productView .imgflex {
  display: flex;
  width: 100%;
  gap: 1rem;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.productItem .productView .imgflex .img {
  flex-basis: 25%;
  background-color: rgb(204, 203, 203);
}
.productItem .two {
  padding: 3rem;
  font-size: 1rem;
}
.productItem .two .wishlist .flexbtn {
  display: flex;
  gap: 1rem;
}
@media (max-width: 600px) {
  .productItem {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .productItem .productView {
    width: 100%;
  }
  .productItem .two {
    width: 100%;
  }
  .productItem .two .wishlist {
    margin-top: 2rem;
  }
  .productItem .two .wishlist .flexbtn {
    display: flex;
    gap: 1rem;
  }
  .productItem .two .wishlist .flexbtn button {
    font-size: small;
  }
}/*# sourceMappingURL=style.css.map */